#container{
    height:100vh;
    background-image:url(./pexels-tomas-anunziata-3876447.jpg);
    background-attachment: fixed;
    background-size:cover;
}

@media (min-width:780px) {
    #container{
        background-image:url(./pexels-dziana-hasanbekava-5480797.jpg);
        background-attachment: fixed;
        background-size:cover;
    }
   
}
#app{
    height:auto;
    border-radius: 25% 10%;
}

.seleccion:hover{
    background-color: #0d6efd;
    margin-bottom: 2px;
}

#seleccion{
    overflow: hidden;

}



h3{
    font-size:  16px;
}

h4{
    font-size: 12px;
}

.seccion {
    height:100%;
}


/*----------Clima--------------*/

/*---temp actual------*/
#clima1{
    height:100vh;
    background-color: #153D59;
}

#clima2{
    height:100%;
    background-color: #2973A8;
}

.imgTempActual{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top:30px;
    
   
}

#tablaclima{
    background-color: #153D59;
}

@media (max-width:780px) {
    .tabla{
        display:none;
    }
}

footer{
    width: 100%;
    margin-bottom: 0;
}

.linkedin{
    display:block;
    text-align:center;
}

